* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

canvas {
  background-color: black;
  display: block;
  width: 100%;
  height: auto;
}

#container {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#settings {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 100%;
}

#toggleAutoPlay {
  width: 50px;
}

#spin {
  width: 60px;
  height: 60px;
  font-size: 36px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  #container {
    padding: 5px;
  }

  #settings {
    gap: 5px;
    padding: 5px;
  }

  .settingItem {
    font-size: 12px;
  }

  .settingItem input,
  .settingItem select {
    width: 60px;
    font-size: 12px;
  }
}
