canvas {
  background-color: black;
}

#container {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

#settings {
  width: 100%;
  min-width: 456px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

#toggleAutoPlay {
  width: 50px;
}
